h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.jumbotron {
    background-color: black;
    background-color: hsla(0, 0%, 0%, 0.30) !important;
}

.sect {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.subsection {
    height: 100%;
    background-color: bisque;
}

.navSpace {
   margin-top: 90px;
   margin-left: 0;
   height: 100%;
   border-radius:6px;
}

#homeSect {
    background-image: url(http://res.cloudinary.com/data-detective/image/upload/v1475940094/Promo/DTP3sm_rxk8pb.jpg);
    color: #fff;
}

#aboutSect {
    /*Place Holder*/
    background-color: bisque;
    background-color: rgba(215, 185, 149, 0.75);
    /*color:black;*/
}

#portfolioSect {
    /*Place Holder*/
    background-image: url(http://res.cloudinary.com/data-detective/image/upload/v1471796677/Promo/tileable-dark-wood-textures-8_e6gwz7.jpg);
}

#contactSect {
    background-image: url(http://res.cloudinary.com/data-detective/image/upload/v1475937593/Promo/nate3_y8bwcs.jpg);
}

html, body {
    height: 100%;
}

.navbar-inverse {
  background-color: black;
  background-color: hsla(0, 0%, 0%, 0.60);
  border-color: #080808;
}

.footer {
    /*background: #061D25;*/
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 100%;
    background-color: black;
    background-color: hsla(0, 0%, 0%, 0.60);
    /* Set footer on top of all elements*/
    z-index: 99;
}

.footer a {
    /*color: #70726F;*/
    color: #fff;
    font-size: 40px;
    padding: 10px;
    border-right: 1px solid rgb(128, 128, 128);
    border-right: 1px solid hsla(0, 0%, 0%, 0.50);
    -webkit-transition: transition all .5s ease;
    -o-transition: transition all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.footer a:first-child {
    border-left: 1px solid rgb(128, 128, 128);
    border-left: 1px solid hsla(0, 0%, 0%, 0.50);
}

.footer a:hover {
    color: #0094ff;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .75s ease;
}